h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

#heading {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

#subheading {
  font-size: 1rem;
  font-weight: 400;
}

.search-bar {
  padding: 1rem;
  /* when you give margin or padding two values, it's `y, x` - so, y margin of 1rem, x padding of 0 */
  margin: 1rem 0;
  background: beige;
}

#search-input {
  margin-right: 0.5rem;
}

.search-result:hover {
  text-decoration: underline;
  cursor: pointer;
}

.card {
  margin: 1rem 0;
  padding: 1rem;
  border: 2px solid black;
}

.stats-wrapper {
  font-family: monospace;
  margin: 1rem 0;
}

.stats-wrapper span {
  display: block;
}

.pokemon-name {
  font-size: 1.6rem;
  font-family: sans-serif;
  font-weight: 400;
}
